# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [18]:
pokemon.head(4)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [17]:
pok_comun = pokemon[pokemon.Legendary == False] #df de pokemon comunes
pok_legen = pokemon[pokemon.Legendary == True] #df de pokemon legendarios
#pok_comun.count() #735
#pok_legen.count()  #65   y el total es 800 yey

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [25]:
# Your code here:
mean_comun = pok_comun.Total.mean()
mean_legen = pok_legen.Total.mean()
std_comun = np.std(pok_comun.Total)
std_legen = np.std(pok_legen.Total)

In [26]:
mean_comun, mean_legen, std_comun, std_legen

(417.21360544217686, 637.3846153846154, 106.68776660321996, 60.46682302213781)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [27]:
from scipy.stats import ttest_ind

In [28]:
#Como estamos asumiendo que las varianzas son diferentes vamos a realizar un test A/B
ttest_ind(pok_comun.Total, pok_legen.Total, equal_var=False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
'''
Si H0 es mu1 = mu2, y H1 es mu1 =! mu2, entonces debido a que el p-value 
es muy pequeño debemos rechazar la hipótesis nula
'''

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [35]:
# Your code here:
pokemon.groupby(pokemon['Type 1']).count()
#water is the largest group with 112

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [41]:
# Your code here:
water_mean = pokemon[pokemon['Type 1'] == 'Water'].Total.mean()
nowater_mean = pokemon[pokemon['Type 1'] != 'Water'].Total.mean()
water_std = np.std(pokemon[pokemon['Type 1'] == 'Water'].Total)
nowater_std = np.std(pokemon[pokemon['Type 1'] != 'Water'].Total)

In [42]:
water_mean, nowater_mean, water_std, nowater_std

(430.45535714285717,
 435.85901162790697,
 112.68182832909096,
 121.00364762501167)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [43]:
from scipy.stats import ttest_rel

In [44]:
ttest_rel(pokemon[pokemon['Type 1'] == 'Water'].Total , pokemon[pokemon['Type 1'] != 'Water'].Total)

ValueError: unequal length arrays

Write your conclusion below.

In [10]:
# Your conclusions here:
'''
Las columnas de pokeomn de agua y no agua son de muy distintoa longitud por lo que las 
pruebas de rel y de 1sample no se pueden aplicar
'''

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [45]:
from scipy.stats import ttest_rel

In [46]:
ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
'''
H0 es que mu_attack = mu_defense e H1 attack =! defense
Debido a que el p-value es muy chiquito rechazamos la H0
'''

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [48]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
'''
H0 es que mu_sp_attack = mu_sp_defense e H1 mu_sp_attack =! mu_sp_defense
Debido a que el p-value es 39% podemos decir que las medias se parecen un poco
'''

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [49]:
from scipy.stats import ttest_1samp

In [50]:
ttest_1samp(pokemon.Attack - pokemon.Defense ,0) #el 0 es que suponemos que la H0 es mu1=mu2 pues su resta es cero

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
#Confirmo que los resultados del estadístico y de los p-values son los mismos

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: